{% extends 'base.html' %}

{% block content %}

<nav class="navbar">
    <span class="navbar-brand mx-1 mb-0 p-3 h5">Hello! {{user}}</span>

    <!-- Handle logout -->
    <a class="btn btn-outline-primary mx-3" href="{% url 'todolist:logout' %}">Logout</a>
</nav>

<div class="text-center title">
    <h1 class="text-center"><span class="material-symbols-outlined">checklist_rtl</span> My Todolist</h1>

    <a class="btn btn-primary align-middle" href="{% url 'todolist:create_task' %}"><span class="material-symbols-outlined align-middle">add</span> Tambah Task Baru</a>
</div>

<article class="tasks">
    {% for task in tasks %}
    <section class="task card m-3">
        <h5 class="card-title">{{task.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{task.date}}</h6>
        {% if task.is_finished %}
            <p class="card-subtitle mb-2 text-muted">Selesai</p>
        {% else %}
            <p class="card-subtitle mb-2 text-muted">Belum Selesai</p>
        {% endif %}
        <p class="card-text">{{task.description}}</p>
        <div class="btn-group mt-auto" role="group">
            {% if task.is_finished %}
                <a class="btn btn-success" href="{% url 'todolist:change_status' task.id %}">Belum Selesai</a>
            {% else %}
                <a class="btn btn-success" href="{% url 'todolist:change_status' task.id %}">Selesai</a>
            {% endif %}
            <a class="btn btn-danger" href="{% url 'todolist:delete_task' task.id %}">Delete</a>
        </div>
    </section>
    {% endfor %}
</artic>

{% endblock content %}
